* {
    margin: 0;
    padding: 0;
    /* css3盒子模型 */
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

button,
input {
   border: 0; 
   outline: none;
}

.clearfix::after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;

}
.clearfix {
    *zoom: 1;
}
body {
    color: #666;
}

